<!DOCTYPE html>
<html class="h-100 mx-0 my-0 px-0 py-0">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Seek your next adventure with Explore Ease" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
  <script src="js/script.js"></script>
  <script src="bootstrap.min.js"></script>
</head>
<body class="position-relative h-100 mx-0 my-0 px-0 py-0">
  <%- include("../partials/header.ejs") %>
  <%- body %>
  <%- include('../partials/footer.ejs') %>
</body>
</html>
